h2{
    font-size: 2vw;
}

span{
    font-size: 1vw;
}

p{
    font-size: 1vw;
}

input{
    height: 1vw;
}

textarea{
    height: 15vw;
}

select{
    font-size: 1vw
}

article{
    padding: 1.5vw 2.5vw;
    margin-bottom: 5vh;
}
select, #enviar-form-contato {
    background-color: #dfd0db;
    color: #23001e;
    border-radius: 10vw;
    width: 9vw;
    text-align: center;
}

p{
    text-align: justify;
    margin-bottom: 1vw;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #530447;
    font-size: 1vw;
    padding: 1vw;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #530447;
}

#enviar-form-contato {
    box-shadow: -2px 3px 6px 0px rgba(50, 50, 50, 0.75);
    border: 1px solid #530447;
    height: 2vw;
    width: 10vw;
    font-size: 1vw;
}

#texto-form-contato, #nome-form-contato {
    width: 9.5vw;
    margin: 0.5vw 0;
}

#mais{
    display: none
}

.botao-leia-mais{
    background-color: #23001e;
    color: #dfd0db;
    box-shadow: -2px 3px 6px 0px rgba(50, 50, 50, 0.75);
    border: 3px solid #530447;
    margin: 1.3vw 0;
}

.data{
    color: #c23cae;
}

.imagem-post{
    float: left;
    height: 15vw;
    margin: 1vw;
    box-shadow: -3px 4px 5px 0px rgba(50, 50, 50, 0.75);
    border: 0.1vw solid #23001e;
}

.fonte{
    border-left: 0.4vw solid #23001e;
    padding-left: 0.2vw;
    color: #c23cae;
}

.linha-nav {
    color: #dfd0db;
    height: 0.2vw;
}

.tema-postagem {
    color:#c23cae;
}

.linha-postagem{
    background-color: #774c71;
    margin: 2vw 0;
    height: 0.3vw;
    border: none;
}